### Python map() function

> The map() function executes a specified function for each item in an iterable.<br>
> The item is sent to the function as a parameter,

In [2]:
def myfunc(mystr):
    return len(mystr)

list1 = ["Sunday", "Wednesday", "Friday", "Saturday"]
print (list1)
list2 = list(map(myfunc, list1))
print (list2)

['Sunday', 'Wednesday', 'Friday', 'Saturday']
[6, 9, 6, 8]

In [3]:
def myfunc(data1, data2):
    return data1 + data2

list1 = ["Sund", "Wedne", "F", "Sa"]
list2 = ["ay", "sday", "riday", "turday"]
print (list1)
print (list2)
list3 = list(map(myfunc, list1, list2))
print (list3)

['Sund', 'Wedne', 'F', 'Sa']
['ay', 'sday', 'riday', 'turday']
['Sunday', 'Wednesday', 'Friday', 'Saturday']

In [4]:
def myfunc(data1, data2):
    return data1 + data2

list1 = [11, 33, 22, 44, 66]
list2 = [100, 300, 200, 400, 600]
print (list1)
print (list2)
list3 = list(map(myfunc, list1, list2))
print (list3)

[11, 33, 22, 44, 66]
[100, 300, 200, 400, 600]
[111, 333, 222, 444, 666]

### Python filter() function

> The filter() function returns an iterator where the items are filters through a function to<br>
> test if the item is accepted or not

In [5]:
def myfunct(x):
    return True if (x >= 18) else False

ages = [11, 5, 45, 12, 78, 65, 5, 90]
adults = list(filter(myfunct, ages))
print (adults)

[45, 78, 65, 90]

### Python reduce() function

> The reduce() function applies a functions of two arguments cumulatively to the elements<br>
> of an iterable, optionally starting with an initial argument.

In [7]:
from functools import reduce
def custom_sum(first_num, second_num):
    print (f"First No. -> {first_num} and Second No. -> {second_num}...")
    return first_num + second_num

numbers = [10, 30, 20, 40, 50, 45]
result = reduce(custom_sum, numbers)
print (result)

result = reduce(custom_sum, numbers, 1000)
print (result)

First No. -> 10 and Second No. -> 30...
First No. -> 40 and Second No. -> 20...
First No. -> 60 and Second No. -> 40...
First No. -> 100 and Second No. -> 50...
First No. -> 150 and Second No. -> 45...
195
First No. -> 1000 and Second No. -> 10...
First No. -> 1010 and Second No. -> 30...
First No. -> 1040 and Second No. -> 20...
First No. -> 1060 and Second No. -> 40...
First No. -> 1100 and Second No. -> 50...
First No. -> 1150 and Second No. -> 45...
1195

### Python zip() function

In [9]:
fruits = ["mango", "apple", "coconut", "orange"]
stocks = [250, 470, 890, 256, 870, 145]
print (zip(fruits, stocks))
print (list(zip(fruits, stocks)))
print (tuple(zip(fruits, stocks)))
print (set(zip(fruits, stocks)))
print (dict(zip(fruits, stocks)))

<zip object at 0x000001902E73EBC0>
[('mango', 250), ('apple', 470), ('coconut', 890), ('orange', 256)]
(('mango', 250), ('apple', 470), ('coconut', 890), ('orange', 256))
{('apple', 470), ('orange', 256), ('coconut', 890), ('mango', 250)}
{'mango': 250, 'apple': 470, 'coconut': 890, 'orange': 256}

### bisect_right and bisect_left

In [11]:
from bisect import bisect_left
from bisect import bisect_right

list1 = [11, 22, 33, 44, 55, 66, 77]
print (bisect_left(list1, 50), bisect_right(list1, 50))
print (bisect_left(list1, 70), bisect_right(list1, 70))
print (bisect_left(list1, 55), bisect_right(list1, 55))

4 4
6 6
4 5

### Cartesian product of list elements

In [13]:
from itertools import product
list1 = [11, 22, 44, 33]
list2 = [100, 200, 400, 300]
print (list1)
print (list2)
print (list(product(list1, list2)))

[11, 22, 44, 33]
[100, 200, 400, 300]
[(11, 100), (11, 200), (11, 400), (11, 300), (22, 100), (22, 200), (22, 400), (22, 300), (44, 100), (44, 200), (44, 400), (44, 300), (33, 100), (33, 200), (33, 400), (33, 300)]

### Cycle

In [15]:
import itertools
items = itertools.cycle(["Amitava", 34.5, True, ("Thane", "Mumbai"), 65000])
print (next(items))
print (next(items))
print (next(items))
print (next(items))
print (next(items))
print (next(items))
print (next(items))

Amitava
34.5
True
('Thane', 'Mumbai')
65000
Amitava
34.5

### Sorting of a Matrix

In [20]:
list1 = [100, 2, -3, 40]
list2 = [14, -22, 8, -10]
list3 = [6, -7, 10, 1]
final_list = []
for i in range(len(list1)):
    final_list.append([list1[i], list2[i], list3[i]])
print (final_list)
final_list1 = sorted(final_list, key = lambda v: v[-1])
print (final_list1)
final_list1 = sorted(final_list, key = lambda v: v[-2])
print (final_list1)

[[100, 14, 6], [2, -22, -7], [-3, 8, 10], [40, -10, 1]]
[[2, -22, -7], [40, -10, 1], [100, 14, 6], [-3, 8, 10]]
[[2, -22, -7], [40, -10, 1], [-3, 8, 10], [100, 14, 6]]

In [ ]:
[[100, 14, 6],
 [2,  -22, -7],
 [-3,   8, 10],
 [40, -10, 1]]
[[2,  -22, -7],
 [40, -10, 1],
 [100, 14, 6],
 [ -3,  8, 10]]

### Multiple numbers taken at a time from user input

In [22]:
my_input = input("Please enter your set of numbers: ").split()
print (my_input)
my_input = list(map(int, input("Please enter your set of numbers: ").split()))
print (my_input)

Please enter your set of numbers:  11 33 245 670 250 -2

['11', '33', '245', '670', '250', '-2']

Please enter your set of numbers:  11 33 245 670 250 -2

[11, 33, 245, 670, 250, -2]

In [30]:
list1 = [[int(input()) for i in range(4)] for j in range(2)]
print (list1)  # returns list of lists

 11
 22
 33
 44
 55
 66
 77
 88

[[11, 22, 33, 44], [55, 66, 77, 88]]

### List comprehension

> List comprehension is a complete substitute to for loops, lambda function as well as<br>
> the functions map(), filter(), reduce()

In [24]:
# replacing for loop to create a list
list1 = []
for x in range(10):
    list1.append(x ** 2)
print (list1)

# using list comprehension
list1 = [x ** 2 for x in range(10)]
print (list1)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [26]:
# replacing for loop to create a list
list1 = []
for x in range(10):
    list1.append(2 * x)
print (list1)

# using list comprehension
list1 = [2 * x for x in range(10)]
print (list1)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [34]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8]
list2 = []
for x in list1:
    if (x % 2 == 0):
        list2.append(x)
print (list2)

# using list comprehension
list2 = [x for x in list1 if x % 2 == 0]
print (list2)

[2, 4, 6, 8]
[2, 4, 6, 8]

In [40]:
list1 = [11, 22, 33, 44, 55, 66, 77, 88, 99, 666]
list2 = []
for x in list1:
    if (x % 2 == 0):
        if (x % 3 == 0):
            list2.append(x)
print (list2)

# using list comprehension
list2 = [x for x in list1 if x % 2 == 0 if x % 3 == 0]
print (list2)
list2 = [x for x in list1 if x % 2 == 0 and x % 3 == 0]
print (list2)

[66, 666]
[66, 666]
[66, 666]

In [41]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8]
list2 = []
for x in list1:
    if (x >= 4): list2.append(x + 5)
    else: list2.append(x + 1)
print (list2)

# using list comprehension
list2 = [x + 5 if x >= 4 else x + 1 for x in list1]
print (list2)

[2, 3, 4, 9, 10, 11, 12, 13]
[2, 3, 4, 9, 10, 11, 12, 13]

In [44]:
list1 = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
list2 = []
for temp_list in list1:
    for x in temp_list:
        list2.append(x)
print (list2)

# using list comprehension, flatten a list
list2 = [item for sub_list in list1 for item in sub_list]
print (list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [47]:
list1 = []
for x in range(3):
    temp_list = []
    for y in range(4):
        temp_list.append(0)
    list1.append(temp_list)
print (list1)

# using list comprehension
list1 = [[0 for col in range(4)] for row in range(3)]
print (list1)

[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]

In [49]:
list1 = []
for x in range(4):
    temp_list = []
    for y in range(x):
        temp_list.append(0)
    list1.append(temp_list)
print (list1)

# using list comprehension
list1 = [[0 for col in range(row)] for row in range(4)]
print (list1)

[[], [0], [0, 0], [0, 0, 0]]
[[], [0], [0, 0], [0, 0, 0]]

In [54]:
# replacing map() function
list1 = [10, 20, 30, 40, 50]
list2 = list(map(lambda x: 2 * x, list1))
print (list2)

# using list comprehension
list2 = [2 * x for s in list1]
print (list2)

[20, 40, 60, 80, 100]
[6, 6, 6, 6, 6]

In [57]:
for i in range(10):
    pass
print (i)
print (list(range(1, 10, 2)))

9
[1, 3, 5, 7, 9]

In [59]:
# replacing filter() function
list1 = [11, 22, 33, 44, 55, 66]
oddnum = list(filter(lambda x: x % 2, list1))
print (oddnum)

# using list comprehension
oddnum = [x for x in list1 if x % 2 == 1]
print (oddnum)

[11, 33, 55]
[11, 33, 55]

In [62]:
# replacing reduce() function
from functools import reduce
list1 = [11, 22, 33, 44, 55, 66]
result = reduce(lambda n, m: n + m, list1)
print (result)

# using list comprehension
result = sum([x for x in list1])
print (result)

231
231