### Importing Module: Math Module

In [1]:
# importing required module
import math

In [16]:
print (math.sin(0), math.cos(0), math.tan(0))
print (math.sinh(0), math.cosh(0), math.tanh(0))
print (math.pi, math.e, math.tau)   # constants
print (math.gcd(180, 70), math.lcm(180, 70), 180 * 70 / math.gcd(180, 70))
print (math.log(100), math.log(100, math.e), math.log(1024, 2), math.log2(1024))
print (math.log(1000, 10), math.log10(1000), math.pow(100, 3), 100 ** 3, 100.0 ** 3)
print (math.factorial(5), math.factorial(6))
print (math.floor(100.1), math.floor(10.9), math.ceil(100.1), math.ceil(100.9))

0.0 1.0 0.0
0.0 1.0 0.0
3.141592653589793 2.718281828459045 6.283185307179586
10 1260 1260.0
4.605170185988092 4.605170185988092 10.0 10.0
2.9999999999999996 3.0 1000000.0 1000000 1000000.0
120 720
100 10 101 101

In [20]:
help(math.pow)

Help on built-in function pow in module math:

pow(x, y, /)
    Return x**y (x to the power of y).

In [ ]:
help(math)

In [25]:
print (math.dist((100, 30), (200, 40)))   # calculating Eucledian distance
print (math.sqrt(1000), math.sqrt(10000))
print (math.sqrt((100 - 200) ** 2 + (30 - 40) ** 2))

100.4987562112089
31.622776601683793 100.0
100.4987562112089

In [26]:
import calendar
calendar.prcal(2023)

                                  2023

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5             1  2  3  4  5
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       6  7  8  9 10 11 12
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      13 14 15 16 17 18 19
16 17 18 19 20 21 22      20 21 22 23 24 25 26      20 21 22 23 24 25 26
23 24 25 26 27 28 29      27 28                     27 28 29 30 31
30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2       1  2  3  4  5  6  7                1  2  3  4
 3  4  5  6  7  8  9       8  9 10 11 12 13 14       5  6  7  8  9 10 11
10 11 12 13 14 15 16      15 16 17 18 19 20 21      12 13 14 15 16 17 18
17 18 19 20 21 22 23      22 23 24 25 26 27 28      19 20 21 22 23 24 25
24 25 26 27 28 29 30      29 30 31                  26 27 28 29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                1  2          1  2  3  4  5  6                   1  2  3
 3  4  5  6  7  8  9       7  8  9 10 11 12 13       4  5  6  7  8  9 10
10 11 12 13 14 15 16      14 15 16 17 18 19 20      11 12 13 14 15 16 17
17 18 19 20 21 22 23      21 22 23 24 25 26 27      18 19 20 21 22 23 24
24 25 26 27 28 29 30      28 29 30 31               25 26 27 28 29 30
31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
                   1             1  2  3  4  5                   1  2  3
 2  3  4  5  6  7  8       6  7  8  9 10 11 12       4  5  6  7  8  9 10
 9 10 11 12 13 14 15      13 14 15 16 17 18 19      11 12 13 14 15 16 17
16 17 18 19 20 21 22      20 21 22 23 24 25 26      18 19 20 21 22 23 24
23 24 25 26 27 28 29      27 28 29 30               25 26 27 28 29 30 31
30 31

### String Processing

In [ ]:
index from left to right ->   0   1   2   3   4   5   6   7   8   9  
                    mystr =   u   n   i   v   e   r   s   i   t   y
index from right to left -> -10  -9  -8  -7  -6  -5  -4  -3  -2  -1

In [41]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr[3], mystr[-7], mystr[6], mystr[-4])    # indexing
print (mystr[3:8], mystr[-7:-2], mystr[3:-2], mystr[-7:8])
print (mystr[1:6], mystr[-9:-4], mystr[1:-4], mystr[-9:6])
print (mystr[0::2], mystr[::2], mystr[1::2], mystr[-9::2])
print (mystr[::-1], mystr[9::-2], mystr[8::-2])

university 10 <class 'str'> 2993550925680
v v s s
versi versi versi versi
niver niver niver niver
uiest uiest nvriy nvriy
ytisrevinu yirvn tseiu

In [48]:
mystr = "caLCuTTa unIVerSity"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.lower())
print (mystr.upper())
print (mystr.swapcase())
print (mystr.capitalize())
print (mystr.title())
print (mystr.center(40))
print (mystr.title().center(40))

caLCuTTa unIVerSity 19 <class 'str'> 2993541076096
calcutta university
CALCUTTA UNIVERSITY
CAlcUttA UNivERsITY
Calcutta university
Calcutta University
          caLCuTTa unIVerSity
          Calcutta University

In [55]:
mystr = "charity begins at home"
print (mystr.find("ity"), mystr.find("ITY"), mystr.find("ITY".lower()))
print (mystr.find("i"), mystr.find("i", 2), mystr.find("i", 5), mystr.find("i", 12))

4 -1 4
4 4 11 -1

In [57]:
mystr = "charity begins at home"
print (mystr.index("ity"), mystr.index("ITY".lower()))
print (mystr.index("i"), mystr.index("i", 2), mystr.index("i", 5))
print (mystr.index("i", 12))

4 4
4 4 11

ValueError: substring not found

In [58]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index("ITY".lower()))
    print (mystr.index("i"), mystr.index("i", 2), mystr.index("i", 5))
    print (mystr.index("i", 12))
except:
    print ("Unsuccessful searching...")

4 4
4 4 11
Unsuccessful searching...

In [59]:
try:
    mystr = "charity begins at home"
    print (mystr.index("ity"), mystr.index("ITY".lower()))
    print (mystr.index("i"), mystr.index("i", 2), mystr.index("i", 5))
    print (mystr.index("i", 12))
except ValueError as ve:
    print ("Unsuccessful searching...")
    print (f"Error type: {type(ve)}...")
    print (f"Error message: {ve}...")

4 4
4 4 11
Unsuccessful searching...
Error type: <class 'ValueError'>...
Error message: substring not found...

In [65]:
mystr = "    calcutta    university     "
print (mystr, len(mystr), type(mystr), id(mystr))
result = mystr.strip()
print (result, len(result), type(result), id(result))
result = mystr.lstrip()
print (result, len(result), type(result), id(result))
result = mystr.rstrip()
print (result, len(result), type(result), id(result))

    calcutta    university      31 <class 'str'> 2993522371888
calcutta    university 22 <class 'str'> 2993518222336
calcutta    university      27 <class 'str'> 2993522147072
    calcutta    university 26 <class 'str'> 2993560541168

In [66]:
mystr = "###@calcutta#@#university@#@@@"
print (mystr, len(mystr), type(mystr), id(mystr))
result = mystr.strip("#@")
print (result, len(result), type(result), id(result))
result = mystr.lstrip("#@")
print (result, len(result), type(result), id(result))
result = mystr.rstrip("#@")
print (result, len(result), type(result), id(result))

###@calcutta#@#university@#@@@ 30 <class 'str'> 2993522592624
calcutta#@#university 21 <class 'str'> 2993550578256
calcutta#@#university@#@@@ 26 <class 'str'> 2993560541168
###@calcutta#@#university 25 <class 'str'> 2993522371728

In [74]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.startswith("cha"), mystr.startswith("beg"), mystr.startswith("beg", 8))
print (mystr.startswith("beg", 8, 500), mystr.startswith("beg", 8, 11), mystr.startswith("beg", 8, 10))

charity begins at home 22 <class 'str'> 2993522362928
True False True
True True False

In [78]:
mystr = "charity begins at home"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.endswith("ome"), mystr.endswith("beg"), mystr.endswith("beg", 0, 11))
print (mystr.endswith("beg", 4, 11))

charity begins at home 22 <class 'str'> 2993560542208
True False True
True

In [79]:
mystr = "school"
for ch in mystr:
    print (ch, end = ", ")

s, c, h, o, o, l,

In [81]:
mystr = "school"
for i in range(len(mystr)):
    print (mystr[i], end = ", ")

s, c, h, o, o, l,

In [83]:
mystr = "charity begins at home"
list1 = mystr.split()
print (list1)
list1 = mystr.split(" ")
print (list1)
list1 = mystr.split("i")
print (list1)

['charity', 'begins', 'at', 'home']
['charity', 'begins', 'at', 'home']
['char', 'ty beg', 'ns at home']

In [86]:
list1 = ['charity', 'begins', 'at', 'home']
mystr = " ".join(list1)
print (mystr)
list1 = ['char', 'ty beg', 'ns at home']
mystr = "i".join(list1)
print (mystr)
list1 = ['charity', 'begins', 'at', 'home']
mystr = " - ".join(list1)
print (mystr)

charity begins at home
charity begins at home
charity - begins - at - home

In [91]:
mystr = "mississippi"
print (mystr, len(mystr), type(mystr), id(mystr))
print (list(mystr))
print (tuple(mystr))
print (set(mystr))
print (frozenset(mystr))

mississippi 11 <class 'str'> 2993553381360
['m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i']
('m', 'i', 's', 's', 'i', 's', 's', 'i', 'p', 'p', 'i')
{'m', 's', 'i', 'p'}
frozenset({'m', 's', 'i', 'p'})

In [93]:
mystr = "mississippi"
for ch in set(mystr):
    print (ch, end = ", ")

m, s, i, p,

In [95]:
mystr = "university"
print (mystr, len(mystr), type(mystr), id(mystr))
print (mystr.count("i"), mystr.count("ver"), mystr.count("VER"))

university 10 <class 'str'> 2993557272048
2 1 0

In [99]:
mystr = "Good morning"
print (mystr)
print (mystr.replace("morning", "night"))
print (mystr)
mystr = mystr.replace("morning", "night")
print (mystr)
print (mystr.replace("evening", "morning"))

Good morning
Good night
Good morning
Good night
Good night

In [106]:
mystr = "university"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "abcd@gmail.com"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "0xab"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "university1234"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())
mystr = "å››"
print (mystr.isalpha(), mystr.isalnum(), mystr.isnumeric(), mystr.isdigit())

True True False False
False True True True
False False False False
False True False False
False True False False
True True True False

### Class Assignment

In [ ]:
Take a string as user input may be consisting of alpha-numeric characters in upper or in
lower case and special characters. Find out the number of vowels and consonants in that string.
As example: "monoj123@gmail.com is my E-MAIL address."

In [110]:
# mystr = "monoj123@gmail.com is my E-MAIL address."
mystr = "uni123ver .@#SITY"
vcount = ccount = 0
for ch in mystr.lower():
    if (ch.isalpha()):
        if (ch in "aeiou"): vcount += 1
        else: ccount += 1
print (f"So total number of vowels is {vcount} and consonant is {ccount}...")
print ("End of the program...")

So total number of vowels is 4 and consonant is 6...
End of the program...

### Class Assignment

In [ ]:
Input: mOHan dAS kaRAm chAnd ganDhi
Output: M. D. K. C. Gandhi

In [112]:
mystr = "mOHan dAS kaRAm chAnd ganDhi"
list1 = mystr.split()
outputstr = ""
for word in list1[:-1]:
    outputstr += word[0] + ". "
outputstr += list1[-1]
outputstr = outputstr.title()
print (outputstr)

M. D. K. C. Gandhi

### List Processing

In [113]:
list1 = [100, 100.4, 400, -90, 12]
print (list1, len(list1), type(list1), id(list1))
print (min(list1), max(list1))
print (sum(list1), sum(list1)/len(list1))

[100, 100.4, 400, -90, 12] 5 <class 'list'> 2993564134464
-90 400
522.4 104.47999999999999

In [116]:
list1 = [100, True, 100.4, False, 400, 90, 12]
print (list1, len(list1), type(list1), id(list1))
print (min(list1), max(list1))
print (sum(list1), sum(list1)/len(list1))

[100, True, 100.4, False, 400, 90, 12] 7 <class 'list'> 2993489612288
False 400
703.4 100.48571428571428

In [117]:
list1 = ["Monday", "Tuesday", "friday", "Wednesday"]
print (list1, len(list1), type(list1), id(list1))
print (min(list1), max(list1))
print (sum(list1), sum(list1)/len(list1))

['Monday', 'Tuesday', 'friday', 'Wednesday'] 4 <class 'list'> 2993565441088
Monday friday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [118]:
list1 = ["Monday", 100, 23.45, "Tuesday", True, "friday", "Wednesday"]
print (list1, len(list1), type(list1), id(list1))
print (min(list1), max(list1))
print (sum(list1), sum(list1)/len(list1))

['Monday', 100, 23.45, 'Tuesday', True, 'friday', 'Wednesday'] 7 <class 'list'> 2993565546240

TypeError: '<' not supported between instances of 'int' and 'str'

In [125]:
# indexing and slicing operations on a List
# index from l to r ->   0         1         2            3
list1                = ["Monday", "Friday", "Wednesday", "Thursday"]
# index from r to l ->  -4        -3        -2           -1
print (list1, len(list1), type(list1), id(list1))
print (list1[1], list1[-3], list1[2], list1[-2])
print (list1[:2], list1[-2:], list1[2:])
print (list1[2][3:6], list1[0][2:])

['Monday', 'Friday', 'Wednesday', 'Thursday'] 4 <class 'list'> 2993489617728
Friday Friday Wednesday Wednesday
['Monday', 'Friday'] ['Wednesday', 'Thursday'] ['Wednesday', 'Thursday']
nes nday

In [180]:
# list concatenation
list1 = ["Monday", "Friday", "Wednesday", "Thursday"]
list2 = ["Sunday", "Saturday", "Tuesday"]
print (list1, len(list1))
print (list2, len(list2))
list3 = list1 + list2
print (list3, len(list3))
list1.extend(list2)
print (list1, len(list1))
print (list2, len(list2))

['Monday', 'Friday', 'Wednesday', 'Thursday'] 4
['Sunday', 'Saturday', 'Tuesday'] 3
['Monday', 'Friday', 'Wednesday', 'Thursday', 'Sunday', 'Saturday', 'Tuesday'] 7
['Monday', 'Friday', 'Wednesday', 'Thursday', 'Sunday', 'Saturday', 'Tuesday'] 7
['Sunday', 'Saturday', 'Tuesday'] 3

In [129]:
# list of lists
list1 = ["Monday", "Friday", "Wednesday", "Thursday"]
list2 = ["Sunday", "Saturday", "Tuesday"]
print (list1, len(list1))
print (list2, len(list2))
list3 = [list1, list2]
print (list3, len(list3))
print (list3[1][1])
print (list3[1][2][1:4])

['Monday', 'Friday', 'Wednesday', 'Thursday'] 4
['Sunday', 'Saturday', 'Tuesday'] 3
[['Monday', 'Friday', 'Wednesday', 'Thursday'], ['Sunday', 'Saturday', 'Tuesday']] 2
Saturday
ues

In [130]:
# insert operation on a list
list1 = ['Monday', 'Friday', 'Wednesday', 'Thursday']
print (list1, len(list1))
list1.append("Wednesday")
print (list1, len(list1))
list1.append("Saturday")
print (list1, len(list1))

['Monday', 'Friday', 'Wednesday', 'Thursday'] 4
['Monday', 'Friday', 'Wednesday', 'Thursday', 'Wednesday'] 5
['Monday', 'Friday', 'Wednesday', 'Thursday', 'Wednesday', 'Saturday'] 6

In [132]:
# insert operation on a list
list1 = ['Monday', 'Friday', 'Wednesday', 'Thursday']
print (list1, len(list1))
list1.insert(1, "Wednesday")
print (list1, len(list1))
list1.insert(3, "Saturday")
print (list1, len(list1))
list1.insert(100, "Sunday")
print (list1, len(list1))

['Monday', 'Friday', 'Wednesday', 'Thursday'] 4
['Monday', 'Wednesday', 'Friday', 'Wednesday', 'Thursday'] 5
['Monday', 'Wednesday', 'Friday', 'Saturday', 'Wednesday', 'Thursday'] 6
['Monday', 'Wednesday', 'Friday', 'Saturday', 'Wednesday', 'Thursday', 'Sunday'] 7

In [134]:
# update operation on a list
list1 = ['Monday', 'Friday', 'Wednesday', 'Thursday']
print (list1, len(list1))
list1[2] = "Sunday"
print (list1, len(list1))

['Monday', 'Friday', 'Wednesday', 'Thursday'] 4
['Monday', 'Friday', 'Sunday', 'Thursday'] 4

In [139]:
# delete operation on a list
list1 = ['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
list1.remove('Wednesday')
print (list1, len(list1))
# list1.remove('Wednesday')   # error due to non-existent data item
# print (list1, len(list1))
list1.remove('Saturday')
print (list1, len(list1))
# list1.remove('FriDay')   # error due to non-existent data item
# print (list1, len(list1))

['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 6
['Monday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 5
['Monday', 'Friday', 'Thursday', 'Sunday'] 4

In [140]:
list1 = ['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))
print (list1.pop())
print (list1, len(list1))

['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 6
Sunday
['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday'] 5
Thursday
['Monday', 'Wednesday', 'Friday', 'Saturday'] 4
Saturday
['Monday', 'Wednesday', 'Friday'] 3
Friday
['Monday', 'Wednesday'] 2

In [141]:
list1 = ['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
list1.clear()
print (list1, len(list1))

['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 6
[] 0

In [142]:
list1 = ['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
del list1[2]
print (list1, len(list1))
del list1[2]
print (list1, len(list1))

['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 6
['Monday', 'Wednesday', 'Saturday', 'Thursday', 'Sunday'] 5
['Monday', 'Wednesday', 'Thursday', 'Sunday'] 4

In [143]:
list1 = ['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
del list1
print (list1, len(list1))

['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 6

NameError: name 'list1' is not defined

In [147]:
# reverse of a list
list1 = ['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
list1.reverse()
print (list1, len(list1))

['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 6
['Sunday', 'Thursday', 'Saturday', 'Friday', 'Wednesday', 'Monday'] 6

In [150]:
# sorting of a list
list1 = ['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
list1.sort()
print (list1, len(list1))

['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 6
['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Wednesday'] 6

In [151]:
list1 = ['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
list1.sort(reverse=True)
print (list1, len(list1))

['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 6
['Wednesday', 'Thursday', 'Sunday', 'Saturday', 'Monday', 'Friday'] 6

In [156]:
help(list.reverse)

Help on method_descriptor:

reverse(self, /)
    Reverse *IN PLACE*.

In [157]:
list1 = ['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
list1 = sorted(list1)
print (list1, len(list1))

['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 6
['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Wednesday'] 6

In [158]:
list1 = ['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
list1 = sorted(list1, reverse=True)
print (list1, len(list1))

['Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday'] 6
['Wednesday', 'Thursday', 'Sunday', 'Saturday', 'Monday', 'Friday'] 6

In [162]:
list1 = [True, False, False, True]
print (any(list1), all(list1))
list1 = [False, False, False, False]
print (any(list1), all(list1))
list1 = [True, True, True, True]
print (any(list1), all(list1))

True False
False False
True True

In [164]:
list1 = [1, 0, 0, 1]
print (any(list1), all(list1))
list1 = [0, 0, 0, 0]
print (any(list1), all(list1))
list1 = [1, 1, 1, 1]
print (any(list1), all(list1))

True False
False False
True True

In [165]:
list1 = [8, 0, 0, 8]
print (any(list1), all(list1))
list1 = [0, 0, 0, 0]
print (any(list1), all(list1))
list1 = [8, 8, 8, 8]
print (any(list1), all(list1))

True False
False False
True True

In [166]:
list1 = [-8, 0, 0, -8]
print (any(list1), all(list1))
list1 = [0, 0, 0, 0]
print (any(list1), all(list1))
list1 = [-8, -8, -8, -8]
print (any(list1), all(list1))

True False
False False
True True

In [172]:
list1 = ['Monday', 'Saturday', 'Thursday', 'Saturday', 'Thursday', 'Sunday']
print (list1, len(list1))
print (list1.count("Saturday"), list1.count("saturday"))
print (list1.index('Saturday'), list1.index('Saturday', 2))
print (list1.index('Saturday', 5))

['Monday', 'Saturday', 'Thursday', 'Saturday', 'Thursday', 'Sunday'] 6
2 0
1 3

ValueError: 'Saturday' is not in list

In [173]:
def list_processing(my_list):
    print ("With in function", my_list)
    for i in range(len(my_list)):
        my_list[i] += 100
    print ("With in function", my_list)
    
list1 = [11, 44, 55, 22, 77]
print ("Outside of the function", list1)
list_processing(list1)
print ("Outside of the function", list1)

Outside of the function [11, 44, 55, 22, 77]
With in function [11, 44, 55, 22, 77]
With in function [111, 144, 155, 122, 177]
Outside of the function [111, 144, 155, 122, 177]

In [176]:
list1 = [11, 22, 33, 44, 55, 66]
print (list1, len(list1), id(list1))
list2 = list1
print (list2, len(list2), id(list2))
list1[0] = 9999
list2[1] = 7777
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))

[11, 22, 33, 44, 55, 66] 6 2993557562432
[11, 22, 33, 44, 55, 66] 6 2993557562432
[9999, 7777, 33, 44, 55, 66] 6 2993557562432
[9999, 7777, 33, 44, 55, 66] 6 2993557562432

In [177]:
list1 = [11, 22, 33, 44, 55, 66]
print (list1, len(list1), id(list1))
list2 = list1.copy()
print (list2, len(list2), id(list2))
list1[0] = 9999
list2[1] = 7777
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))

[11, 22, 33, 44, 55, 66] 6 2993557553920
[11, 22, 33, 44, 55, 66] 6 2993556464640
[9999, 22, 33, 44, 55, 66] 6 2993557553920
[11, 7777, 33, 44, 55, 66] 6 2993556464640

In [178]:
list1 = [11, 22, 33, 44, 55, 66]
print (list1, len(list1), id(list1))
list2[:] = list1
print (list2, len(list2), id(list2))
list1[0] = 9999
list2[1] = 7777
print (list1, len(list1), id(list1))
print (list2, len(list2), id(list2))

[11, 22, 33, 44, 55, 66] 6 2993555764480
[11, 22, 33, 44, 55, 66] 6 2993556464640
[9999, 22, 33, 44, 55, 66] 6 2993555764480
[11, 7777, 33, 44, 55, 66] 6 2993556464640

### Class Assignment

In [ ]:
Take n number of integers from user and put them in a data_list and print it.
Now from this data_list take integers and put them in even_list and odd_list
depending upon the fact whether the retrieved integer is even or odd respectively.

In [182]:
n = int(input("Please enter the number of items: "))
data_list = []
for i in range(n):
    data = int(input("Please enter an integer:"))
    data_list.append(data)
print ("Data list:", data_list)
even_list = []
odd_list = []
for data in data_list:
    if (data % 2 == 0): even_list.append(data)
    else: odd_list.append(data)
print ("Even data list:", even_list)
print ("Odd data list:", odd_list)
print ("End of the program...")

Please enter the number of items:  8
Please enter an integer: 11
Please enter an integer: 33
Please enter an integer: 22
Please enter an integer: 55
Please enter an integer: 44
Please enter an integer: 77
Please enter an integer: 66
Please enter an integer: 88

Data list: [11, 33, 22, 55, 44, 77, 66, 88]
Even data list: [22, 44, 66, 88]
Odd data list: [11, 33, 55, 77]
End of the program...

### Tuple Processing

In [204]:
tuple1 = (100, 100.4, 400, -90, 12)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (min(tuple1), max(tuple1))
print (sum(tuple1), sum(tuple1)/len(tuple1))

(100, 100.4, 400, -90, 12) 5 <class 'tuple'> 2993550782320
-90 400
522.4 104.47999999999999

In [184]:
tuple1 = (100, True, 100.4, False, 400, 90, 12)
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (min(tuple1), max(tuple1))
print (sum(tuple1), sum(tuple1)/len(tuple1))

(100, True, 100.4, False, 400, 90, 12) 7 <class 'tuple'> 2993560216160
False 400
703.4 100.48571428571428

In [185]:
tuple1 = ("Monday", "Tuesday", "friday", "Wednesday")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (min(tuple1), max(tuple1))
print (sum(tuple1), sum(tuple1)/len(tuple1))

('Monday', 'Tuesday', 'friday', 'Wednesday') 4 <class 'tuple'> 2993556002976
Monday friday

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [205]:
tuple1 = ("Monday", 100, 23.45, "Tuesday", True, "friday", "Wednesday")
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (min(tuple1), max(tuple1))
print (sum(tuple1), sum(tuple1)/len(tuple1))

('Monday', 100, 23.45, 'Tuesday', True, 'friday', 'Wednesday') 7 <class 'tuple'> 2993563930816

TypeError: '<' not supported between instances of 'int' and 'str'

In [206]:
# indexing and slicing operations on a tuple
# index from l to r ->   0         1         2            3
tuple1               = ("Monday", "Friday", "Wednesday", "Thursday")
# index from r to l ->  -4        -3        -2           -1
print (tuple1, len(tuple1), type(tuple1), id(tuple1))
print (tuple1[1], tuple1[-3], tuple1[2], tuple1[-2])
print (tuple1[:2], tuple1[-2:], tuple1[2:])
print (tuple1[2][3:6], tuple1[0][2:])

('Monday', 'Friday', 'Wednesday', 'Thursday') 4 <class 'tuple'> 2993557450848
Friday Friday Wednesday Wednesday
('Monday', 'Friday') ('Wednesday', 'Thursday') ('Wednesday', 'Thursday')
nes nday

In [207]:
# tuple concatenation
tuple1 = ("Monday", "Friday", "Wednesday", "Thursday")
tuple2 = ("Sunday", "Saturday", "Tuesday")
print (tuple1, len(tuple1))
print (tuple2, len(tuple2))
tuple3 = tuple1 + tuple2
print (tuple3, len(tuple3))

('Monday', 'Friday', 'Wednesday', 'Thursday') 4
('Sunday', 'Saturday', 'Tuesday') 3
('Monday', 'Friday', 'Wednesday', 'Thursday', 'Sunday', 'Saturday', 'Tuesday') 7

In [208]:
# tuple of tuples
tuple1 = ("Monday", "Friday", "Wednesday", "Thursday")
tuple2 = ("Sunday", "Saturday", "Tuesday")
print (tuple1, len(tuple1))
print (tuple2, len(tuple2))
tuple3 = (tuple1, tuple2)
print (tuple3, len(tuple3))
print (tuple3[1])
print (tuple3[1][1])
print (tuple3[1][2][1:4])

('Monday', 'Friday', 'Wednesday', 'Thursday') 4
('Sunday', 'Saturday', 'Tuesday') 3
(('Monday', 'Friday', 'Wednesday', 'Thursday'), ('Sunday', 'Saturday', 'Tuesday')) 2
('Sunday', 'Saturday', 'Tuesday')
Saturday
ues

In [195]:
tuple1 = ('Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday')
print (tuple1, len(tuple1))
del tuple1
print (tuple1, len(tuple1))

('Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday') 6

NameError: name 'tuple1' is not defined

In [209]:
tuple1 = ('Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday')
print (tuple1, len(tuple1))
var1 = sorted(tuple1)   # sorted function returns a list
print (var1, len(var1))

('Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday') 6
['Friday', 'Monday', 'Saturday', 'Sunday', 'Thursday', 'Wednesday'] 6

In [211]:
tuple1 = ('Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday')
print (tuple1, len(tuple1))
var1 = sorted(tuple1, reverse=True)   # sorted function returns a list
print (var1, len(var1))

('Monday', 'Wednesday', 'Friday', 'Saturday', 'Thursday', 'Sunday') 6
['Wednesday', 'Thursday', 'Sunday', 'Saturday', 'Monday', 'Friday'] 6

In [201]:
tuple1 = (True, False, False, True)
print (any(tuple1), all(tuple1))
tuple1 = (False, False, False, False)
print (any(tuple1), all(tuple1))
tuple1 = (True, True, True, True)
print (any(tuple1), all(tuple1))

True False
False False
True True

In [212]:
tuple1 = ('Monday', 'Saturday', 'Thursday', 'Saturday', 'Thursday', 'Sunday')
print (tuple1, len(list1))
print (tuple1.count("Saturday"), tuple1.count("saturday"))
print (tuple1.index('Saturday'), tuple1.index('Saturday', 2))
print (tuple1.index('Saturday', 4))

('Monday', 'Saturday', 'Thursday', 'Saturday', 'Thursday', 'Sunday') 6
2 0
1 3

ValueError: tuple.index(x): x not in tuple

In [215]:
var1 = (10)
print (var1, type(var1))
var1 = (10,)   # singleton representation of a tuple
print (var1, type(var1))

10 <class 'int'>
(10,) <class 'tuple'>

In [219]:
tuple1 = (33, 22, 55, 44, 77, 66)
print (tuple1, id(tuple1))
# tuple1[2] = 555   # error !!!
list1 = list(tuple1)
print (list1, id(list1))
list1[2] = 555
print (list1, id(list1))
tuple1 = tuple(list1)
print (tuple1, id(tuple1))

(33, 22, 55, 44, 77, 66) 2993565325376
[33, 22, 55, 44, 77, 66] 2993556874048
[33, 22, 555, 44, 77, 66] 2993556874048
(33, 22, 555, 44, 77, 66) 2993489679392

### Class Assignment

In [ ]:
Find out all possible three-digit TRIODE Numbers. Let x be a TRIODE Number, then 
x, 2*x and 3*x will have all distinct digits. 
As example,
if x = 219, then 2*x = 438 and 3*x = 657 (All digits are distinct)
if x = 192, then 2*x = 384 and 3*x = 576 (All digits are distinct)

In [220]:
list1 = [0 for i in range(10)]
print (list1)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [ ]:
# Pseudo-code for the TRIODE number problem
for num = lower_limit to upper_limit:
    make a list list1 of length 10 filled with 0
    for i = 1 to 3:
        number = i * num
        while (number != 0):
            last_digit = number mod 10
            if (list1[last_digit] == 0) then list1[last_digit] = 1
            else break
            number = integer(number / 10)
        end while
        if (number != 0): break
    end for
    if (number == 0): print num, 2*num, 3*num
end for

### Dictionary Processing

In [2]:
dict1 = {"apple":"red", "pineapple":"yellow", "guava":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.keys())      # list of keys
print (dict1.values())    # list of values
print (dict1.items())     # list of tuples containing key and value

{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange'} 4 <class 'dict'> 2876157138624
dict_keys(['apple', 'pineapple', 'guava', 'orange'])
dict_values(['red', 'yellow', 'green', 'orange'])
dict_items([('apple', 'red'), ('pineapple', 'yellow'), ('guava', 'green'), ('orange', 'orange')])

In [4]:
for x in dict1.items():
    print (x, x[0], x[1])

('apple', 'red') apple red
('pineapple', 'yellow') pineapple yellow
('guava', 'green') guava green
('orange', 'orange') orange orange

In [9]:
dict1 = {"apple":"red", "pineapple":"yellow", "guava":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1.get("Pineapple"))
print (dict1.get("pineapple"))
print (dict1.get("orange"))
print (dict1.get("lime"))
print (dict1.get("lime", "Not available"))

{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange'} 4 <class 'dict'> 2876157659328
None
yellow
orange
None
Not available

In [12]:
dict1 = {"apple":"red", "pineapple":"yellow", "guava":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
print (dict1['apple'])
print (dict1['pineapple'])
print (dict1['lime'])

{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange'} 4 <class 'dict'> 2876157456896
red
yellow

KeyError: 'lime'

In [13]:
dict1 = {"apple":"red", "pineapple":"yellow", "guava":"green", "orange":"orange"}
print (dict1, len(dict1), type(dict1), id(dict1))
try:
    print (dict1['apple'])
    print (dict1['pineapple'])
    print (dict1['lime'])
except KeyError as ke:
    print ("Searched key not found...")

{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange'} 4 <class 'dict'> 2876191658944
red
yellow
Searched key not found...

In [14]:
dict1 = {"apple":"red", "pineapple":"yellow", "guava":"green", "orange":"orange", "pineapple":"green"}
print (dict1, len(dict1), type(dict1), id(dict1))

{'apple': 'red', 'pineapple': 'green', 'guava': 'green', 'orange': 'orange'} 4 <class 'dict'> 2876191957888

In [17]:
# insert and update operations
dict1 = {"apple":"red", "pineapple":"yellow", "guava":"green", "orange":"orange"}
print (dict1, len(dict1))
dict1["lime"] = "green"     # insert
dict1["lemon"] = "yellow"     # insert
print (dict1, len(dict1))
dict1["apple"] = "deep red"    # update
dict1["guava"] = "light green"    # update
print (dict1, len(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange'} 4
{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'lime': 'green', 'lemon': 'yellow'} 6
{'apple': 'deep red', 'pineapple': 'yellow', 'guava': 'light green', 'orange': 'orange', 'lime': 'green', 'lemon': 'yellow'} 6

In [18]:
dict1 = {"apple":"red", "pineapple":"yellow", "guava":"green", "orange":"orange"}
print (dict1, len(dict1))
dict1.setdefault("apple", "deep red")
print (dict1, len(dict1))
dict1.setdefault("guava", "deep green")
print (dict1, len(dict1))
dict1.setdefault("mango", "green")
print (dict1, len(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange'} 4
{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange'} 4
{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange'} 4
{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'mango': 'green'} 5

In [19]:
# delete operation on a dictionary
dict1 = {'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'mango': 'green'}
print (dict1, len(dict1))
print (dict1.pop('pineapple'))
print (dict1, len(dict1))
print (dict1.pop('apple'))
print (dict1, len(dict1))
print (dict1.pop('mango'))
print (dict1, len(dict1))
print (dict1.pop('mango'))
print (dict1, len(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'mango': 'green'} 5
yellow
{'apple': 'red', 'guava': 'green', 'orange': 'orange', 'mango': 'green'} 4
red
{'guava': 'green', 'orange': 'orange', 'mango': 'green'} 3
green
{'guava': 'green', 'orange': 'orange'} 2

KeyError: 'mango'

In [21]:
dict1 = {'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'mango': 'green'}
print (dict1, len(dict1))
print (dict1.popitem())
print (dict1, len(dict1))
print (dict1.popitem())
print (dict1, len(dict1))
print (dict1.popitem())
print (dict1, len(dict1))
print (dict1.popitem())
print (dict1, len(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'mango': 'green'} 5
('mango', 'green')
{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange'} 4
('orange', 'orange')
{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green'} 3
('guava', 'green')
{'apple': 'red', 'pineapple': 'yellow'} 2
('pineapple', 'yellow')
{'apple': 'red'} 1

In [22]:
dict1 = {'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'mango': 'green'}
print (dict1, len(dict1))
dict1.clear()
print (dict1, len(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'mango': 'green'} 5
{} 0

In [23]:
dict1 = {'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'mango': 'green'}
print (dict1, len(dict1))
del dict1
print (dict1, len(dict1))

{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'mango': 'green'} 5

NameError: name 'dict1' is not defined

In [24]:
# concatenation with dictionary
fruits1 = {'apple': 'red', 'pineapple': 'yellow'}
print (fruits1, len(fruits1))
fruits2 = {'guava': 'green', 'orange': 'orange', 'mango': 'green'}
print (fruits2, len(fruits2))
fruits1.update(fruits2)
print (fruits1, len(fruits1))
print (fruits2, len(fruits2))

{'apple': 'red', 'pineapple': 'yellow'} 2
{'guava': 'green', 'orange': 'orange', 'mango': 'green'} 3
{'apple': 'red', 'pineapple': 'yellow', 'guava': 'green', 'orange': 'orange', 'mango': 'green'} 5
{'guava': 'green', 'orange': 'orange', 'mango': 'green'} 3

In [25]:
mykeys = ['mango', 'guava', 'coconut', 'lemon']
price = 500
dict1 = dict.fromkeys(mykeys, price)
print (dict1, len(dict1))

{'mango': 500, 'guava': 500, 'coconut': 500, 'lemon': 500} 4

In [30]:
fruits1 = ['mango', 'guava', 'coconut', 'lemon']
price1 = [900, 560, 450, 320, 100, 560]
print (zip(fruits1, price1))
print (list(zip(fruits1, price1)))
print (tuple(zip(fruits1, price1)))
print (dict(zip(fruits1, price1)))
print (dict(list(zip(fruits1, price1))))
print (dict(tuple(zip(fruits1, price1))))

<zip object at 0x0000029DAA76E900>
[('mango', 900), ('guava', 560), ('coconut', 450), ('lemon', 320)]
(('mango', 900), ('guava', 560), ('coconut', 450), ('lemon', 320))
{'mango': 900, 'guava': 560, 'coconut': 450, 'lemon': 320}
{'mango': 900, 'guava': 560, 'coconut': 450, 'lemon': 320}
{'mango': 900, 'guava': 560, 'coconut': 450, 'lemon': 320}

In [31]:
def switch_case_demo(monthno):
    switcher = {1:"January", 2:"February", 3:"March",
                4:"April", 5:"May", 6:"June",
                7:"July", 8:"August", 9:"Spetember",
                10:"October", 11:"November", 12:"December"}
    return switcher.get(monthno, "Invalid Month No.")

print (switch_case_demo(4))
print (switch_case_demo(11))
print (switch_case_demo(12))
print (switch_case_demo(20))

April
November
December
Invalid Month No.

In [34]:
fruits1 = {'apple': 'red', 'pineapple': 'yellow', 'mango':'red'}
print (fruits1, len(fruits1), id(fruits1))
fruits2 = fruits1.copy()
print (fruits2, len(fruits2), id(fruits2))
fruits1['apple'] = 'deep red'
fruits2['mango'] = "green"
print (fruits1, len(fruits1), id(fruits1))
print (fruits2, len(fruits2), id(fruits2))

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red'} 3 2876193149760
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red'} 3 2876193158080
{'apple': 'deep red', 'pineapple': 'yellow', 'mango': 'red'} 3 2876193149760
{'apple': 'red', 'pineapple': 'yellow', 'mango': 'green'} 3 2876193158080

In [36]:
fruits1 = {'apple': 'red', 'pineapple': 'yellow', 'mango':'red'}
print (fruits1, len(fruits1), id(fruits1))
print ("mango" in fruits1)
print ("coconut" in fruits1)
print ("red" in fruits1)

{'apple': 'red', 'pineapple': 'yellow', 'mango': 'red'} 3 2876191653632
True
False
False

### Class Assignment

In [ ]:
Find the frequency of occurences of each dictinct character in 
one user given word.
Example:
Input: mississippi
Output:
m -> 1
i -> 4
s -> 4
p -> 2
This output may get displayed in any order.

In [39]:
myword = "mississippi"
char_count = {}
for mychar in myword:
    if (mychar in char_count):
        char_count[mychar] += 1
    else:
        char_count[mychar] = 1
print (char_count)
for mychar in char_count:
    print (f"{mychar} -> {char_count.get(mychar)}")

{'m': 1, 'i': 4, 's': 4, 'p': 2}
m -> 1
i -> 4
s -> 4
p -> 2

### Class Assignment

In [ ]:
Find out all possible three-digit TRIODE Numbers. Let x be a TRIODE Number,
then x, 2*x and 3*x will have all distinct digits. 
As example,
if x = 219, then 2*x = 438 and 3*x = 657 (All digits are distinct)
if x = 192, then 2*x = 384 and 3*x = 576 (All digits are distinct)

In [ ]:
x => 3
2 * x => 3    4
3 * x => 3,4  4

102 to 498

In [41]:
for x in range(102, 499):
    digit_trace = []
    for n in range(1, 4):
        num = n * x
        while (num != 0):
            last_digit = num % 10
            if (last_digit not in digit_trace):
                digit_trace.append(last_digit)
            else:
                break
            num = num // 10
        if (num != 0): break
    if (num == 0): print (x, 2*x, 3*x, digit_trace)
print ("End of the program...")

192 384 576 [2, 9, 1, 4, 8, 3, 6, 7, 5]
219 438 657 [9, 1, 2, 8, 3, 4, 7, 5, 6]
267 534 801 [7, 6, 2, 4, 3, 5, 1, 0, 8]
273 546 819 [3, 7, 2, 6, 4, 5, 9, 1, 8]
327 654 981 [7, 2, 3, 4, 5, 6, 1, 8, 9]
End of the program...